<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ce146669-3c9d-40eb-961f-c44e9ff74166/resourceGroups/Blazor/providers/Microsoft.Web/sites/BlazorGalaga</ResourceId>
    <ResourceGroup>Blazor</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://blazorgalaga.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>blazorgalaga.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BlazorGalaga</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BlazorGalaga</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>