@page "/"

<style>


    .content {
        padding: 0px !important;
    }

    div.context.px-4 {
        padding: 0px !important;
    }

    .main > div {
        padding: 0px !important;
    }
    canvas {
        background-color: yellow;
        display: block;
        width: 100%;
        height: 100%;
        /* position: fixed; */
    }
    body {
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }
</style>

<div id="theCanvas" style="position: fixed; opacity: 1; background-color: aqua; width: 100%; height: 100%">
    <BECanvas Width="672" Height="944" @ref="_canvasReference"></BECanvas>
</div>

<img style="display:none" @ref="spriteSheet" src="Assets/spritesheet.png" />
