@page "/"

<style>



    .content {
        padding: 0px !important;
    }

    div.context.px-4 {
        padding: 0px !important;
    }

    .main > div {
        padding: 0px !important;
    }

    #theCanvas canvas {
        /*        background-image: url("assets/background.png");*/
        background-color: black;
        display: block;
        width: 100%;
        height: 100%;
        /* position: fixed; */
    }

    #divBufferCanvas canvas {
        background-color: black;
        display:block;
    }

    body {
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }
</style>

<div id="divDebugDash" style="position:absolute;left:15px;top:15px;width:300px;height:150px;background-color:lightgray;padding:5px;font-size:10px;font-size:10px">
    <input type="checkbox" id="PauseAnimation"  />
    <label for="PauseAnimation">Pause Animation</label>
    <br/>
    <input type="checkbox" id="EditCurves" />
    <label for="EditCurves">Edit Curves</label>
    <br />
    <button id="btnAddPath">Add Path</button>
    <br /><br />
    <button id="btnResetAnimation">Reset Animation</button>
    <br /><br />
</div>

<div id="divDiagnostics" style="position:absolute;left:15px;top:190px;width:300px;height:400px;background-color:lightgray;padding:5px;font-size:10px;font-size:10px;overflow:scroll">
</div>

<div id="divBufferCanvas" style="position:absolute;left:1100px;top:15px;opacity:1">
    <BECanvas Width="460" Height="300" @ref="_buffercanvasReference"></BECanvas>
</div>

<div id="theCanvas" style="position: fixed; opacity: 1; background-color: aqua; width: 100%; height: 100%;">
    <BECanvas Width="672" Height="944" @ref="_canvasReference"></BECanvas>
</div>

<img id="imgSpriteSheet" style="display:none" @ref="spriteSheet" src="Assets/spritesheet.png" />

